*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav{
    background-color: snow;
    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkcyan;
    font-size: 20px;
}

.crud{
    color: darkblue;
}

.operation{
    color: yellow;
}

.layout{
    display:flex
}

.sidebar{
    display: flex;
    background-color: snow;
    width: 15%;
    height: 100vh;
    font-size: 20px;
    font-weight: 400;
}

.sidebar ul li a{
    text-decoration: none;
    color: darkblue;
    background-color: yellow;
    display: block;
    width: 226px;
    padding: 10px;
    border-radius: 2px solid darkblue;
    margin: 0px 20px 20px 0px;
}

table{
    border: 1px solid black;
 
    


}



.userBlock{
    margin: 8rem 30rem;
}


.content{
    margin: 8rem 30rem;
}

.innercontent form{
    width:380px;
    padding:18px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.form-group label{
    display: block;
    padding: 5px;
    color: blue;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid darkblue;
    margin: 5px;
    border-radius: 2px;
}

.form-group button{
    background-color: yellow;
    color: darkblue;
    padding: 10px;
    border: 1px solid yellow;



}

.searchbox{
    position: relative;
  display: flex;
  align-items: center;
  width: 250px;
}


.searchipbox{
width: 100%;
  padding: 8px 30px 8px 45px; 
  border: 1px solid black;
  border-radius: 5px;
 } 

.searchicon {
    position: absolute;
    margin-left: 210px;
}


.regilogin{
    display: flex;
    gap: 10%;
    margin-left: 880px;
}

.regilogin a{
    color: rgb(24, 37, 29);
    text-decoration: none;
 
}

.regtext{
    margin: 2rem 12rem;
}

.regbox{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}