*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    background-color: #fdb44b;
    display: flex;
    align-items: center;
    height: 8vh;
    color: black;
    font-size: 20px;
    position: sticky;
    top: 0;
}

.mainContainer{
    display: flex;
}

.formBlock{
    background-color:  #00204a;
    width: 40%;
    height: 500px;
    margin: 40px;
    
}

.form-content{
    margin-left: 20px;
    
}

.form-content label{
    color: black;
    display: block;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.form-content input , textarea{
    border: none;
    width: 90%;
    border: 1px solid whitesmoke;
    border-radius: 2px;
    padding: 10px;
}